# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
composer*

# testing
coverage

# production
build

# misc
dist/
.DS_Store
.env
.idea
npm-debug.log
selenium-debug.log

# stupid nginx
conf/nginx.conf
logs/

# vm
.vagrant

# vim
*.swp
*.swo


# python
__pycache__
